body {
/*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
		font-family: 'Imprima', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: auto;
    padding: 0;
    background-image:url('background.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
		font-size: 4.6em;
		color: #444;
}

#topper {
    width: 750px;
    /*margin: 10 auto;*/
    text-align: center
}

.stats {
    font-size: 2.4em;
    color: #aaa;
    margin-left: 80px;
}

#outer {
    width: 700px;
    margin: 0 auto;
}

.player {
    cursor: pointer;
    padding: 1px;
    padding-top: 6px;
    margin: 1px;
    line-height: 16px;
}

.player .name {
    width: 300px;
    font-size: 1.75em;
}

.name {
}

.title {
    color: #aaa;
    font-size: 2.4em;
    vertical-align: -60px;
}

.totes {
    font-size: 1.6em;
    color: #ddd;
}

.leaderboard img {
    vertical-align: baseline;
}

.plusbutton {
    display: inline-block;
    margin: 80px;
    /*General*/
    transform: scale(2);
    /*Firefox*/
    -moz-transform: scale(2);
    /*Microsoft Internet Explorer*/
    -ms-transform: scale(2);
    /*Chrome, Safari*/
    -webkit-transform: scale(2);
    /*Opera*/
    -o-transform: scale(2);
}

.cleartabbutton {
    display: inline;
}


.player .tab_fruit {
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player .tab_prepaid {
    font-size: 2em;
    font-weight: bold;
    color: #555;
}

.player .total {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.player.selected {
    background-color: darkorange;
    color: white;
    border-radius: 10px;
}

.player.notactv {
    color: grey;
    border-radius: 10px;
}

.player.selected .tab {
    color: black;
}

.player.selected .total {
    color: black;
}

#newplayer {
    margin-bottom: 0px;
}

.details, .none {
    font-weight: bold;
    font-size: 3.2em;
}

.none {
    color: #777;
}

.inc {
    cursor: pointer;
}

.cleartab {
    cursor: pointer;
}

.error_fruit{
  font-size: 0.5em;
}
